<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>Email: info@xyzhotel.com</p>
        <p>Phone: +33 12 34 56 78 90</p>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <p>
          <a target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a target="_blank"><i class="fab fa-twitter"></i></a>
          <a target="_blank"><i class="fab fa-instagram"></i></a>
        </p>
      </div>
      <div class="col-md-4">
        <h4>Legal</h4>
        <p>&copy; 2024 XYZ Hotel. All rights reserved.</p>
        <p><a>Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
